@import '../../styles/base';

header{
  width: 100%;
  padding-top: 42px;
  .header{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .logo{
    width: 90px;
    text-align: center;
  }
  nav{
    display: flex;
    width: 100%;
    max-width: 790px;
    ul{
      display: flex;
      width: 100%;
      max-width: 615px;
      align-items: center;
      justify-content: space-between;
    }
  }
}